#bdEnvio{
    background-image: url("../img/playa2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#contenedor{
    width: 53%;
    margin: 0 auto;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    margin-top: 40px;
    background-color: white;
}

#titleDatos{
    margin-top: 30px;
    margin-bottom: 10px;
}

#metPago > h2{
    margin-bottom: 10px;
    
}

#titleDatos, #metPago{
    background-color: lightgray;
    margin-left: 30px;
    margin-right: 15px;
}

#titleDatos > h2, #metPago > h2{
    padding: 10px;
    font-size: 25px;
}

#datos{
    padding: 10px;
    margin-left: 30px;
    font-size: 20px;
}

#opcionesPago{
    width: 100%;
}

.images{
    display: flex;
}

.imgOptions{
    width: 90px;
    height: 60px;
    border-radius: 5px;
    margin-right: 28px;
    margin-top: 25px;
}

#tablePago{
    width: 100%;
    font-size: 20px;
    margin-left: 30px;
}

.trPago{
    line-height: 2.5;
}

#btnCancel{
    background-color: black;
    color: white;
}

#btnCancel, #btnAceptar{
    width: 200px;
    padding: 5px;
    font-size: 20px;
    border: none;
    margin-top: 15px;
    margin-bottom: 8px;
}

#btnAceptar{
    background-color: skyblue;
    margin-right: 15px;
    
}

.buttonPago{
    padding: 5px;
    width: 30%;
    font-size: 20px;
    border: none;
    margin-top: 30px;
}

.inputPago{
    margin-right: 15px;
}

.b{
    margin-right: 40px;
}

.i{
    font-size: 30px;
    margin-right: 20px;
}

.right{
    width: 60%;
    text-align: end;
    margin-right: 20px;
    margin-top: 0px;
    padding: 10px;
    font-size: 20px;
}

#cup{
    margin-top: 2px;
    margin-bottom: 22px;
}

#cupon{
    width: 145px;
    font-size: 20px;
    margin-right: 0px;
}

#btn{
    width: 100%;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 25px;
}

#btnCanjear{
    background-color: skyblue;
    color: darkblue;
    padding: 5px;
    margin-left: 0px;
    font-size: 20px;
    border: none;
    margin-top: 0px;
    margin-bottom: 15px;
}